body{
		margin: 0;
	    padding: 0;
}
.one{
	position: relative;
	top: 0%;
	width: 100%;
	background-color: #256188;
	height: 50px;
	display: flex;
	justify-content: center;
}

.one-1{
	display: flex;
    position: relative;
    top: 0px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.it{
	display: flex;
	position: relative;
	top: -20px;
	color: #FF9800;
}
.one-2{
	margin: 30px;
	position: relative;
	top: 1px;
	text-decoration: none;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #FF9800;
}

.two{
	text-align: center;
	position: relative;
	padding-bottom: 10px; 
}

.two-1{
	font-size: 22px;
	color: #256188;
}

.two-2{
	position: relative;
	right: 40px;
    padding: 13px;
    border-radius: 8px;
    border: none;
    color: #256188;
}

.two-3{
    position: relative;
    left: 40px;
    padding: 13px;
    border-radius: 8px;
    border: none;
    color: #256188;
}

.three{
	position: relative;
	display: grid;
	grid-template-areas: "over";
}

.three-a{
	position: relative;
	grid-area: over;
	z-index: 2;
	background-color: yellow;
	height: 160px
}
.three-1{
	text-align: center;
	position: relative;
	top: 50px;
	grid-area: over;
	z-index: 2;
}

.three-2{
	grid-area: over;
	background-color: blue;
    z-index: 0;
}

.three-3{
	grid-area: over;
	background-color: green;
    z-index: 1;
}

.uno{
	text-align: center;
	font-size: 18px;
}

.dos{
	color: red;
}

.tres{
	width: 250px;
}